.gray {
  font-size: 12px;
  padding: 0 0.2rem;
  flex: 0 0 2.1rem;
  margin-right: 0.3rem;
  color: #FFFFFF;
  background: #dfdfdf;
  border-radius: 15px;
}
.cart_main, .rent-box {
  height: auto;
  background: #fff;
  margin-top: 50px;
}
.cart_main .el-checkbox-group {
  background: #fff;
  width: 100%;
  margin-bottom: 6.75rem;
}
.rent_main .el-checkbox-group {
  margin-bottom: 6.75rem;
  margin-top: 0.25rem;
}
.cart_good {
  display: flex;
  padding: 0.625rem 0.875rem;
  border-bottom: 0.0625rem solid #e3e3e3;
  align-items: center;
}
#edit {
  padding: 0 0.875rem;
  display: block;
  line-height: 2.25rem;
  text-align: left;
  top: 2.5rem;
  overflow: hidden;
  z-index: 999;
  width: 100%;
  background: #fff;
}
#edit i {
  float: left;
  line-height: 2.25rem;
  font-size: 1.125rem;
  color: #bfcbd9;
}
#edit p {
  display: inline-block;
  margin: 0;
  float: right;
  font-size: 14px;
}
#edit span {
  font-size: 14px;
}
.cart_good .ico {
  height: 100%;
  width: 6.25rem;
  text-align: center;
  font-size: 12px;
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(255, 22, 22, 0.66);
  color: #fff;
  line-height: 37vw;
}
.checkList {
  position: absolute;
  flex: 1;
}
#nocard {
}
.cart_good .img {
  width: 6rem;
  height: 6rem;
  overflow: hidden;
}
.cart_good .img img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.cart_good .info {
  position: relative;
  margin-left: 0.625rem;
  flex: 2;
}
.cart_good .info .inner,
.cart_good .other {
  width: 100%;
}
.cart_good .info .inner {
  flex: 4;
}
.cart_good .info .other {
  flex: 1;
  position: absolute;
  bottom: 0;
}

.cart_good .info .inner .name {
  font-weight: normal;
  flex: 2;
  height: 2.35rem;
  width: 13rem;
  color: #333;
  text-align: justify;
  -webkit-box-flex: 2;
  -ms-flex: 2;
  font-size: 14px;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.cart_good .info .inner .optionsel {
  height: 1.875rem;
  width: 50%;
  float: left;
  line-height: 1.875rem;
  font-size: 14px;
  color: #999;
  border-bottom: 0.0625rem solid #999;
}
.cart_good .info .inner .optionsel .content {
  float: left;
  width: 100%;
  overflow: hidden;
  height: 1.875rem;
}
.cart_good .info .inner .optionsel .content .cinner {
  margin-right: 1.25rem;
}
.cart_good .info .inner .optionsel .cico {
  float: right;
  width: 1.25rem;
  text-align: center;
  margin-left: -1.25rem;
  height: 1.875rem;
  line-height: 1.875rem;
}
.cart_good {
  display: flex;
}
.cart_good .right {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.cart_good .other .price {
  text-align: left;
  font-size: 12px;
  float: left;
  color: #ff4949;
  span {
    font-size: 18px;
  }
}
.introduction {
  flex: 1;
  font-size: 12px;
  color: #a29c9c;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  line-height: 1.125rem;
  margin-top: 0.5rem;
}
.cart_good .other .num {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 0.1875rem;
  height: 1.25rem;
  width: 5.1rem;
  float: right;
}
.cart_good .other .num .leftnav {
  height: 1.25rem;
  width: 1.25rem;
  float: left;
  color: #888;
  text-align: center;
  line-height: 1.25rem;
  font-size: 16px;
  background: #f7f8fa;
  font-weight: bold;
}
.cart_good .other .num .shownum {
  height: 1.25rem;
  width: 2.375rem;
  float: left;
  border: 0;
  margin: 0 0.1rem;
  padding: 0;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 0.125rem;
}
.cart_good .other .num .rightnav {
  height: 1.25rem;
  width: 1.25rem;
  float: right;
  color: #888;
  text-align: center;
  line-height: 1.25rem;
  font-size: 16px;
  background: #f2f3f5;
  font-weight: bold;
}

.cart_pay {
  float: left;
  //height: 3.0625rem;
  width: 100%;
  background: #fff;
  border-top: 0.0625rem solid #e1e1e1;
  position: fixed;
  bottom: 3.0625rem;
  left: 0;
  z-index: 99;
  display: flex;
  justify-content: space-between;
}
.cart_pay .all {
  height: 3.0625rem;
  width: 4.375rem;
  float: left;
  line-height: 3.0625rem;
  font-size: 14px;
  color: #999;
}
.cart_pay .all i {
  font-size: 1.5rem;
  margin-top: 0.125rem;
  float: left;
}
.cart_pay .all .t {
  float: left;
  margin-left: 0.3125rem;
  line-height: 3.375rem;
}
.checkall {
  position: absolute;
  left: 0.875rem;
  top: 0.775rem;
}
.cart_pay .all .el-checkbox__original {
  padding-left: 2.1875rem !important;
  float: left;
}
.cart_pay .all .el-checkbox .el-checkbox__input {
  position: absolute;
}
.cart_pay .all .el-checkbox .el-checkbox__input .el-checkbox__inner {
  position: relative;
  top: 0.625rem;
  left: 0.3125rem;
}

.cart_pay .paysub {
  box-sizing: border-box;
  height: 2.0625rem;
  min-width: 5rem;
  margin-top: 0.5rem;
  border-radius: 2rem;
  padding: 0 0.625rem;
  background: #ff4949;
  float: right;
  font-size: 14px;
  line-height: 2.0625rem;
  color: #fff;
}
.cart_pay .disabled {
  background: #ccc;
}
.cart_pay .text {
  height: 3.0625rem;
  float: left;
  color: #333;
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
  padding-right: 0.625rem;
  line-height: 3.0625rem;
  flex: 2;
}
.cart_pay .text .freight {
  margin-right: 0.375rem;
}
.cart_pay .text .totalprice {
  color: #f15353;
  font-size: 16px;
}

.pcStyleCart .cart_pay {
  width: 375px;
  left: 50%;
  margin-left: -187.5px;
}
.pcStyleCart .cart_del {
  width: 375px;
}

/*增加底部适配层*/
.iphoneXStyle .cart_main, .cart_main, .cart_pay{
  padding-bottom: 34px;
}

.cart_del {
  z-index: 999;
  background: #fff;
  border-top: 0.0625rem solid #e1e1e1;
  position: fixed;
  bottom: 3rem;
  width: 100%;
  height: 3.0625rem;
  line-height: 3.0625rem;
}
.cart_del .el-checkbox-group {
  float: left;
  width: 6.25rem;
}
.cart_del .el-checkbox {
}
.cart_del span {
  box-sizing: border-box;
  height: 2.0625rem;
  width: 5rem;
  margin-top: 0.5rem;
  border-radius: 2rem;
  padding: 0 0.625rem;
  background: #ff4949;
  float: right;
  font-size: 14px;
  line-height: 2.0625rem;
  color: #fff;
}
.cart_top .disabled {
  color: #ccc;
}

.card_no {
  height: 6.25rem;
  margin: 6.25rem 0 6.25rem;
  color: #ccc;
  font-size: 12px;
  text-align: center;
}
.card_no_menu {
  height: 2.5rem;
  width: 100%;
}
.card_no_nav {
  height: 2.375rem;
  width: 43%;
  background: #eee;
  margin: 0 3%;
  float: left;
  border: 0.0625rem solid #f15353;
  border-radius: 0.3125rem;
  text-align: center;
  line-height: 2.375rem;
  color: #f15353;
}
.togo {
  color: #fff;
  background: #f15353;
}
.el-checkbox {
  float: left;
}
.cart_good:last-child {
  border: none;
}
.hint-info {
  color: #f15353;
  text-align: left;
  height: 2.25rem;
  line-height: 2.25rem;
  background-color: #f7f7f7;
  padding: 0 0.875rem;
  span {
    margin-left: 0.625rem;
  }
}
.edit {
  padding: 0 0.875rem;
  display: flex;
  justify-content: space-between;
  line-height: 2.25rem;
  text-align: left;
  top: 2.5rem;
  overflow: hidden;
  z-index: 999;
  width: 100%;
  background: #fff;
  i {
    line-height: 2.25rem;
    font-size: 1.125rem;
    color: #bfcbd9;
  }
}
.rent-one {
  background-color: #fff;
  border-bottom: solid 0.0625rem #e2e2e2;
  padding: 0.625rem 0.875rem;
  display: flex;
  align-items: center;
  .info-box {
    width: 100%;
    display: flex;
    .info {
      position: relative;
      flex: 2;
      text-align: left;
      h1 {
        height: 2.5rem;
        line-height: 1.25rem;
        font-weight: normal;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        font-size: 14px;
      }
      .num {
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        width: 5.1rem;
        height: 1.25rem;
        border-radius: 0.1875rem;
        input {
          height: 1.25rem;
          width: 2.375rem;
          text-align: center;
          border: none;
          background-color: #f2f2f2;
          border-radius: 2px;
          margin: 0 0.1rem;
        }
        .leftnav {
          height: 1.25rem;
          line-height: 1.25rem;
          float: left;
          width: 1.25rem;
          font-size: 16px;
          font-weight: bold;
          text-align: center;
          color: #888;
          background: #f7f8fa;
        }
        .rightnav {
          height: 1.25rem;
          line-height: 1.25rem;
          width: 1.25rem;
          font-size: 16px;
          font-weight: bold;
          text-align: center;
          color: #888;
          background: #f2f3f5;
        }
      }
      .bottom_sum {
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
        .member {
          li {
            font-size: 13px;
          }
        }
      }
      b {
        font-size: 18px;
        font-weight: normal;
      }
      small {
        font-size: 12px;
      }
    }
    .img {
      height: 6rem;
      width: 6rem;
      overflow: hidden;
      margin-right: 0.625rem;
      img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }
    }
  }
  ul {
    display: flex;
    justify-content: space-between;
  }
  .day {
    line-height: 1.625rem;
    i {
      color: #ff9800;
      font-size: 0.875rem;
      line-height: 1.625rem;
    }
    li:first-child {
      font-size: 14px;
      color: #8c8c8c;
    }
  }
  .member {
    color: #f15353;
  }
}
.rent-one:last-child {
  border: none;
}
.recommend-box {
  background-color: #fff;
  margin-top: 0.625rem;
  padding: 1rem 0;
  h1 {
    font-size: 16px;
    color: #f15353;
  }
  .line {
    width: 36%;
    height: 0.0625rem;
    background-color: #f15353;
    margin: 0.25rem auto;
  }
  h2 {
    font-weight: normal;
    color: #8c8c8c;
  }
}
.box {
  margin-top: 0.25rem;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 6.75rem;
  .left {
    width: 49%;
  }
  // .right{
  //   width:49%;
  // }
  // .left:first-child{
  //   margin-bottom:6px;
  // }
  // .right:first-child{
  //   margin-bottom:6px;
  // }
  .left:nth-child(odd) {
    margin-right: 2%;
  }
}
.goods-box {
  text-align: left;
  background-color: #fff;
  .img {
    height: 12rem;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }
  .text {
    padding: 0.375rem 0.5rem;
    small {
      font-size: 12px;
    }
    .sum {
      li {
        font-size: 13px;
      }
    }
  }
  span {
    color: #f15353;
    font-size: 18px;
    margin-bottom: 0.25rem;
    display: block;
  }
  ul {
    display: flex;
    color: #8c8c8c;
    justify-content: space-between;
    li:last-child {
      color: #8c8c8c;
      font-weight: normal;
    }
  }
}
