// 会员中心
#member-all {
  .iconfont {
    display: inline-block;
    font-size: 1.75rem;
    color: rgb(241, 83, 83);
  }
  .icon-extension-prize {
    background: url("../../assets/images/extension/extension(1).png") no-repeat
      center;
    background-size: 4rem;
    width: 4rem;
  }
  .icon-extension-prize:before {
    content: "";
  }
  .icon-extension-chain {
    background: url("../../assets/images/extension/extension(2).png") no-repeat
      center;
    background-size: 4rem;
    width: 4rem;
  }
  .icon-extension-chain:before {
    content: "";
  }
  .icon-dengji01 {
    background: url("../../assets/images/extension/extension(3).png") no-repeat
      center;
    background-size: 4rem;
    width: 4rem;
  }
  .icon-dengji01:before {
    content: "";
  }
  .icon-extension-chain {
    background: url("../../assets/images/extension/extension(4).png") no-repeat
      center;
    background-size: 4rem;
    width: 4rem;
  }
  .icon-extension-chain:before {
    content: "";
  }
  .icon-extension-chain {
    background: url("../../assets/images/extension/extension(5).png") no-repeat
      center;
    background-size: 4rem;
    width: 4rem;
  }
  .icon-extension-chain:before {
    content: "";
  }
  .icon-extension-share {
    background: url("../../assets/images/extension/extension(6).png") no-repeat
      center;
    background-size: 4rem;
    width: 4rem;
  }
  .icon-extension-share:before {
    content: "";
  }
  .icon-extension-chain {
    background: url("../../assets/images/extension/extension(7).png") no-repeat
      center;
    background-size: 4rem;
    width: 4rem;
  }
  .icon-extension-chain:before {
    content: "";
  }
  .icon-Medal01 {
    background: url("../../assets/images/extension/extension(8).png") no-repeat
      center;
    background-size: 4rem;
    width: 4rem;
  }
  .icon-Medal01:before {
    content: "";
  }
  .icon-integral-active {
    background: url("../../assets/images/extension/extension(9).png") no-repeat
      center;
    background-size: 4rem;
    width: 4rem;
  }
  .icon-integral-active:before {
    content: "";
  }
  .icon-lecturer01 {
    background: url("../../assets/images/extension/extension(10).png") no-repeat
      center;
    background-size: 4rem;
    width: 4rem;
  }
  .icon-lecturer01:before {
    content: "";
  }
  .icon-daka01 {
    background: url("../../assets/images/extension/extension(11).png") no-repeat
      center;
    background-size: 4rem;
    width: 4rem;
  }
  .icon-daka01:before {
    content: "";
  }
  .icon-team-return {
    background: url("../../assets/images/extension/extension(12).png") no-repeat
      center;
    background-size: 4rem;
    width: 4rem;
  }
  .icon-team-return:before {
    content: "";
  }
  .icon-mane01 {
    background: url("../../assets/images/extension/extension(13).png") no-repeat
      center;
    background-size: 4rem;
    width: 4rem;
  }
  .icon-mane01:before {
    content: "";
  }
  .icon-seller-a {
    background: url("../../assets/images/extension/extension(14).png") no-repeat
      center;
    background-size: 4rem;
    width: 4rem;
  }
  .icon-seller-a:before {
    content: "";
  }
  .icon-member-cash1 {
    background: url("../../assets/images/extension/extension(15).png") no-repeat
      center;
    background-size: 4rem;
    width: 4rem;
  }
  .icon-member-cash1:before {
    content: "";
  }
  .icon-extension-list {
    background: url("../../assets/images/extension/extension(16).png") no-repeat
      center;
    background-size: 4rem;
    width: 4rem;
  }
  .icon-extension-list:before {
    content: "";
  }
  .icon-quyu01 {
    background: url("../../assets/images/extension/extension(17).png") no-repeat
      center;
    background-size: 4rem;
    width: 4rem;
  }
  .icon-quyu01:before {
    content: "";
  }
  .icon-weidian01 {
    background: url("../../assets/images/extension/extension(18).png") no-repeat
      center;
    background-size: 4rem;
    width: 4rem;
  }
  .icon-weidian01:before {
    content: "";
  }
  .icon-xiaofei01 {
    background: url("../../assets/images/extension/extension(19).png") no-repeat
      center;
    background-size: 4rem;
    width: 4rem;
  }
  .icon-xiaofei01:before {
    content: "";
  }
  .icon-extension-chain {
    background: url("../../assets/images/extension/extension(20).png") no-repeat
      center;
    background-size: 4rem;
    width: 4rem;
  }
  .icon-extension-chain:before {
    content: "";
  }
  .icon-extension-sale {
    background: url("../../assets/images/extension/extension(21).png") no-repeat
      center;
    background-size: 4rem;
    width: 4rem;
  }
  .icon-extension-sale:before {
    content: "";
  }
  .icon-daka01 {
    background: url("../../assets/images/extension/extension(22).png") no-repeat
      center;
    background-size: 4rem;
    width: 4rem;
  }
  .icon-daka01:before {
    content: "";
  }
  .icon-zhaoshang01 {
    background: url("../../assets/images/extension/extension(23).png") no-repeat
      center;
    background-size: 4rem;
    width: 4rem;
  }
  .icon-zhaoshang01:before {
    content: "";
  }
  .icon-extension-chain {
    background: url("../../assets/images/extension/extension(24).png") no-repeat
      center;
    background-size: 4rem;
    width: 4rem;
  }
  .icon-extension-chain:before {
    content: "";
  }
  .icon-extension-manual-bon {
    background: url("../../assets/images/extension/extension(25).png") no-repeat
      center;
    background-size: 4rem;
    width: 4rem;
  }
  .icon-extension-manual-bon:before {
    content: "";
  }
  .icon-team-bonus {
    background: url("../../assets/images/extension/extension(26).png") no-repeat
      center;
    background-size: 4rem;
    width: 4rem;
  }
  .icon-team-bonus:before {
    content: "";
  }
  .icon-extension-chain {
    background: url("../../assets/images/extension/extension(27).png") no-repeat
      center;
    background-size: 4rem;
    width: 4rem;
  }
  .icon-extension-chain:before {
    content: "";
  }
  .icon-fenxiao01 {
    background: url("../../assets/images/extension/extension(28).png") no-repeat
      center;
    background-size: 4rem;
    width: 4rem;
  }
  .icon-fenxiao01:before {
    content: "";
  }
  .icon-dealer_mange_reward {
    background: url("../../assets/images/extension/extension(32).png") no-repeat
      center;
    background-size: 4rem;
    width: 4rem;
  }
  .icon-dealer_mange_reward:before {
    content: "";
  }
  .icon-member-exchange1 {
    background: url("../../assets/images/member/member_a(1).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member-exchange1:before {
    content: "";
  }
  .icon-member-help {
    background: url("../../assets/images/member/member_a(2).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member-help:before {
    content: "";
  }
  .icon-member-recharge1 {
    background: url("../../assets/images/member/member_a(3).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member-recharge1:before {
    content: "";
  }
  .icon-activity-c {
    background: url("../../assets/images/member/member_a(4).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-activity-c:before {
    content: "";
  }
  .icon-activity-c {
    background: url("../../assets/images/member/member_a(5).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-activity-c:before {
    content: "";
  }
  .icon-life-f {
    background: url("../../assets/images/member/member_a(6).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-life-f:before {
    content: "";
  }
  .icon-member-frozen1 {
    background: url("../../assets/images/member/member_a(7).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member-frozen1:before {
    content: "";
  }
  .icon-extension-d {
    background: url("../../assets/images/member/member_a(8).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-extension-d:before {
    content: "";
  }
  .icon-member-apply1 {
    background: url("../../assets/images/member/member_a(9).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member-apply1:before {
    content: "";
  }
  .icon-extension-e {
    background: url("../../assets/images/member/member_a(10).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-extension-e:before {
    content: "";
  }
  .icon-activity-a {
    background: url("../../assets/images/member/member_a(11).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-activity-a:before {
    content: "";
  }
  .icon-life-g {
    background: url("../../assets/images/member/member_a(12).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-life-g:before {
    content: "";
  }
  .icon-member-currency1 {
    background: url("../../assets/images/member/member_a(14).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member-currency1:before {
    content: "";
  }
  .icon-member-act-signup1 {
    background: url("../../assets/images/member/member_a(15).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member-act-signup1:before {
    content: "";
  }
  .icon-life-d {
    background: url("../../assets/images/member/member_a(16).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-life-d:before {
    content: "";
  }
  .icon-life-c {
    background: url("../../assets/images/member/member_a(17).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-life-c:before {
    content: "";
  }
  .icon-wealth-b {
    background: url("../../assets/images/member/member_a(18).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-wealth-b:before {
    content: "";
  }
  .icon-lecturer01 {
    background: url("../../assets/images/member/member_a(19).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-lecturer01:before {
    content: "";
  }
  .icon-life-e {
    background: url("../../assets/images/member/member_a(20).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-life-e:before {
    content: "";
  }
  .icon-activity-h {
    background: url("../../assets/images/member/member_a(21).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-activity-h:before {
    content: "";
  }
  .icon-member-course3 {
    background: url("../../assets/images/member/member_a(22).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member-course3:before {
    content: "";
  }
  .icon-life-j {
    background: url("../../assets/images/member/member_a(23).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-life-j:before {
    content: "";
  }
  .icon-life-b {
    background: url("../../assets/images/member/member_a(24).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-life-b:before {
    content: "";
  }
  .icon-activity-b {
    background: url("../../assets/images/member/member_a(25).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-activity-b:before {
    content: "";
  }
  .icon-member_store {
    background: url("../../assets/images/member/member_a(26).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member_store:before {
    content: "";
  }
  .icon-member_my-card {
    background: url("../images/member/member_a(64).png") no-repeat center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member_my-card:before {
    content: "";
  }
  .icon-member_material {
    background: url("../images/member/member_a(65).png") no-repeat center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member_material:before {
    content: "";
  }
  .icon-member-store-apply1 {
    background: url("../../assets/images/member/member_a(27).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member-store-apply1:before {
    content: "";
  }
  .icon-activity-d {
    background: url("../../assets/images/member/member_a(28).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-activity-d:before {
    content: "";
  }
  .icon-member-bank-list1 {
    background: url("../../assets/images/member/member_a(29).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member-bank-list1:before {
    content: "";
  }
  .icon-member-clock1 {
    background: url("../../assets/images/member/member_a(30).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member-clock1:before {
    content: "";
  }
  .icon-extension-c {
    background: url("../../assets/images/member/member_a(31).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-extension-c:before {
    content: "";
  }
  .icon-activity-g {
    background: url("../../assets/images/member/member_a(32).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-activity-g:before {
    content: "";
  }
  .icon-wealth-d {
    background: url("../../assets/images/member/member_a(33).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-wealth-d:before {
    content: "";
  }
  .icon-seller-a {
    background: url("../../assets/images/member/member_a(34).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-seller-a:before {
    content: "";
  }
  .icon-life-a {
    background: url("../../assets/images/member/member_a(35).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-life-a:before {
    content: "";
  }
  .icon-life-h {
    background: url("../../assets/images/member/member_a(36).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-life-h:before {
    content: "";
  }
  .icon-activity-e {
    background: url("../../assets/images/member/member_a(37).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-activity-e:before {
    content: "";
  }
  .icon-member-extension1 {
    background: url("../../assets/images/member/member_a(38).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member-extension1:before {
    content: "";
  }
  .icon-extension-b {
    background: url("../../assets/images/member/member_a(39).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-extension-b:before {
    content: "";
  }
  .icon-member-mendian1 {
    background: url("../../assets/images/member/member_a(40).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member-mendian1:before {
    content: "";
  }
  .icon-member-collect1 {
    background: url("../../assets/images/member/member_a(41).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member-collect1:before {
    content: "";
  }
  .icon-activity-i {
    background: url("../../assets/images/member/member_a(42).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-activity-i:before {
    content: "";
  }
  .icon-activity-f {
    background: url("../../assets/images/member/member_a(43).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-activity-f:before {
    content: "";
  }
  .icon-member-credit01 {
    background: url("../../assets/images/member/member_a(44).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member-credit01:before {
    content: "";
  }
  .icon-life-i {
    background: url("../../assets/images/member/member_a(45).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-life-i:before {
    content: "";
  }
  .icon-wealth-a {
    background: url("../../assets/images/member/member_a(46).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-wealth-a:before {
    content: "";
  }
  .icon-member-get-up {
    background: url("../../assets/images/member/member_a(47).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member-get-up:before {
    content: "";
  }
  .icon-extension-f {
    background: url("../../assets/images/member/member_a(48).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-extension-f:before {
    content: "";
  }
  .icon-member-life-pay1 {
    background: url("../../assets/images/member/member_a(49).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member-life-pay1:before {
    content: "";
  }
  .icon-member-my-shop1 {
    background: url("../../assets/images/member/member_a(50).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member-my-shop1:before {
    content: "";
  }
  .icon-member-express {
    background: url("../../assets/images/member/member_a(51).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member-express:before {
    content: "";
  }
  .icon-member_goods {
    background: url("../../assets/images/member/member_a(52).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member_goods:before {
    content: "";
  }
  .icon-member-supplier {
    background: url("../../assets/images/member/member_a(53).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member-supplier:before {
    content: "";
  }
  .i {
    background: url("../../assets/images/member/member_a(54).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .i:before {
    content: "";
  }
  .icon-member_integral {
    background: url("../../assets/images/member/member_a(55).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member_integral:before {
    content: "";
  }
  .icon-member_hotel {
    background: url("../../assets/images/member/member_a(56).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member_hotel:before {
    content: "";
  }
  .icon-card {
    background: url("../../assets/images/member/member_a(57).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-card:before {
    content: "";
  }
  .icon-member_card1 {
    background: url("../../assets/images/member/member_a(58).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member_card1:before {
    content: "";
  }
  .icon-extension_goods_order {
    background: url("../../assets/images/member/member_a(59).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-extension_goods_order:before {
    content: "";
  }
  .icon-member_my-friend {
    background: url("../../assets/images/member/member_a(63).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member_my-friend:before {
    content: "";
  }
  .icon-member-replenishment {
    background: url("../../assets/images/member/member_a(67).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member-replenishment:before {
    content: "";
  }
  .icon-number_assets {
    background: url("../../assets/images/member/member_a(69).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-number_assets:before {
    content: "";
  }
  .icon-order_system {
    background: url("../../assets/images/member/member_a(70).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-order_system:before {
    content: "";
  }
  .icon-declaration_system {
    background: url("../images/member/member_a(66).png") no-repeat center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-declaration_system:before {
    content: "";
  }

  .icon-member-express-list {
    background: url("../../assets/images/member/member_a(68).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member-express-list:before {
    content: "";
  }
  .icon-member_mygroup {
    background: url("../../assets/images/member/member_a(72).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member_mygroup:before {
    content: "";
  }

  // 工具图标
  .icon-shoucang {
    background: url("../../assets/images/member/tool_a(6).png") no-repeat center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-shoucang:before {
    content: "";
  }
  .icon-zuji {
    background: url("../../assets/images/member/tool_a(8).png") no-repeat center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-zuji:before {
    content: "";
  }
  .icon-pinglun {
    background: url("../../assets/images/member/tool_a(4).png") no-repeat center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-pinglun:before {
    content: "";
  }
  .icon-guanxi {
    background: url("../../assets/images/member/tool_a(3).png") no-repeat center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-guanxi:before {
    content: "";
  }
  .icon-dizhi {
    background: url("../../assets/images/member/tool_a(1).png") no-repeat center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-dizhi:before {
    content: "";
  }
  .icon-youhuiquan1 {
    background: url("../../assets/images/member/tool_a(7).png") no-repeat center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-youhuiquan1:before {
    content: "";
  }
  .icon-erweima {
    background: url("../../assets/images/member/tool_a(2).png") no-repeat center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-erweima:before {
    content: "";
  }
  .icon-shezhi {
    background: url("../../assets/images/member/tool_a(5).png") no-repeat center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-shezhi:before {
    content: "";
  }
  .icon-icon {
    background: url("../../assets/images/member/tool_a(9).png") no-repeat center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-icon:before {
    content: "";
  }
  .icon-shenghuojiaofei {
    background: url("../../assets/images/member/member_a(49).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-shenghuojiaofei:before {
    content: "";
  }
  .icon-yinhangqia {
    background: url("../../assets/images/member/tool_a(10).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-yinhangqia:before {
    content: "";
  }
  .icon-extension_video {
    background: url("../../assets/images/member/member_a(73).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-extension_video:before {
    content: "";
  }
  .icon-member_host_application {
    background: url("../../assets/images/member/member_a(91).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member_host_application:before {
    content: "";
  }
  .icon-member_live_normal {
    background: url("../../assets/images/member/member_a(92).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member_live_normal:before {
    content: "";
  }
  .icon-member_vj_asistant {
    background: url("../../assets/images/member/member_a(102).png") no-repeat
    center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member_branch {
    background: url("../../assets/images/member/member_a(101).png") no-repeat
    center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member_distributors{
    background: url("../../assets/images/member/member_a(94).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member_vj_asistant:before {
    content: "";
  }
  .icon-member_branch:before {
    content: "";
  }
  .icon-member_distributors:before {
    content: "";
  }
  .icon-member_community {
    background: url("../../assets/images/member/member_a(74).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member_community:before {
    content: "";
  }
  .icon-member_changer_centre {
    background: url("../../assets/images/member/member_a(74).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member_changer_centre:before {
    content: "";
  }
  .icon-member_voice_center {
    background: url("../../assets/images/member/member_a(75).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member_voice_center:before {
    content: "";
  }
  .icon-member_place_apply {
    background: url("../../assets/images/member/member_a(77).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member_place_apply:before {
    content: "";
  }
  .icon-member_construction_deposit {
    background: url("../../assets/images/member/member_a(76).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member_construction_deposit:before {
    content: "";
  }
  .icon-member_installment_buycar {
    background: url("../../assets/images/member/member_a(80).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member_installment_buycar:before {
    content: "";
  }
  .icon-member_pospay_validation {
    background: url("../../assets/images/member/member_a(82).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member_pospay_validation:before {
    content: "";
  }
  .icon-member_posvip_cardnum {
    background: url("../../assets/images/member/member_a(83).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member_posvip_cardnum:before {
    content: "";
  }
  .icon-member_advertise_market {
    background: url("../../assets/images/member/member_a(84).png") no-repeat
      center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member_advertise_market:before {
    content: "";
  }
  .icon-member_appointment{
    background: url("../../assets/images/member/member_a(85).png") no-repeat
    center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member_appointment:before {
    content: "";
  }
  .icon-member_information_release {
    background: url("../../assets/images/member/member_a(90).png") no-repeat center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member_information_release:before {
    content: "";
  }
  .icon-member-cloud-object {
    background: url("../../assets/images/member/member_a(93).png") no-repeat
    center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member-cloud-object:before {
    content: "";
  }
  .icon-member_ejiayou {
    background: url("../../assets/images/member/member_a(103).png") no-repeat
    center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member_quickpay {
    background: url("../../assets/images/member/member_a(95).png") no-repeat
    center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member_ejiayou:before {
    content: "";
  }
  .icon-member_quickpay:before {
        content: "";
  }
  .icon-member_auctionofficer_apply {
    background: url("../../assets/images/member/member_a(96).png") no-repeat
    center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member_auctionofficer_apply:before {
    content: "";
  }
  .icon-member_auctionofficer_admin {
    background: url("../../assets/images/member/member_a(97).png") no-repeat
    center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member_auctionofficer_admin:before {
    content: "";
  }
  .icon-member_auctionofficer_index {
    background: url("../../assets/images/member/member_a(98).png") no-repeat
    center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member_auctionofficer_index:before {
    content: "";
  }
  .icon-member_active_search {
    background: url("../../assets/images/member/member_a(99).png") no-repeat
    center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member_active_search:before {
    content: "";
  }
  .icon-member_active {
    background: url("../../assets/images/member/member_a(100).png") no-repeat
    center;
    background-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .icon-member_active:before {
    content: "";
  }
}

